!!!
%html
  %head
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body.container
    %h1.header ツイートのセンチメンタル値
    %p 直近20件のツイートを取得し、TextAnalyticsAPI にデータを投げ値を取得してくるウェブサイトです✨
    %div.docs-section
      %form{:action => "user", :method => "post"}
        %div.row
          %p Twitterのユーザー名を入力してください。
          %span.at_mark @
          %input.u-pull-left{:name => "name", :type => "text", :style => "padding-left: 20px;"}/
          %input.button-primary{:type => "submit", :value => "送信する"}/
