!!!
%html
  %head
    %link{:href => "//fonts.googleapis.com/css?family=Raleway:400,300,600", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
  %body.container
    %h1.header ツイートのセンチメンタル値
    %p 直近20件のツイートを取得し、TextAnalyticsAPI にデータを投げ値を取得してくるウェブサイトです✨
    %div.docs-section
    %table
      %thead
        %tr
          %th username
          %th tweet
          %th sentiment
      %tbody
        - @users_tweet.each do |tweet|
          %tr
            %td=tweet[:user]
            %td=tweet[:tweet_text]
            %td=tweet[:score]
