!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "UTF-8"}/
  %body
    %div
      username:#{@username}
    %ol
      - @nano.each do |tweet|
        %ul= tweet
